---
---

@import "{{ site.theme }}";

body {
  background-color: #101311;
  color: #b4c7ba;
}
a {
  color: #20ff90;;
}
.logo {
  object-fit: cover;
  border-radius: 50%;
  height: 128px;
  width: 128px;
}
.main-content h1 {
  font-size: 3em;
}
.main-content h3 {
  font-size: 1.5em;
  line-height: 0.5em;
}
